.header {
  width: 100%;
  padding-left: 160px;
  height: 120px;
  top: 0;
  left: 0;
  z-index: 100;
  font: {
    color: #717579;
  };

  &__left {
    &_burger {
      &-ico {
        margin: 0 10px 0 0;
        @include svg_h;
        background-image: url($path-ico + 'burger.svg');
      }
    }
  }

  &__mid {
    width: 30rem;
    &_icons{
      width: 15rem;
    }
    &_sprite {
      &-bell {
       @include svg_notifications_m;
        background-image: url($path-ico + 'bell.svg');
        color: $Light;

        &-notif-default {
         @include svg_notifications;
          background-image: url($path-ico + 'notif_default.svg');
        }
      }

      &-email {
        @include svg_notifications_m;
        background-image: url($path-ico + 'email.svg');

        &-warning {
          @include svg_notifications;
          background-image: url($path-ico + 'warning.svg');
        }
      }

      &-settings {
        @include svg_h;
        background-image: url($path-ico + 'settings.svg');

      }
    }
  }

  &__right {
    &-avatar {
      @include user-avatar;
    }

    &-chevron {
      @include svg_h;
      background-image: url($path-ico + 'ic_chevron.svg');
    }
  }

  &__button {
    border-radius: 50px;
    background-color: $Primary_Highlight;

    &-btn {
      h6 {
        color: $Secondary_Text;
      }

      &_active {
        @include active-button;
      }
    }
  }
}

#dropdown {
  border-radius: 50px;
  outline: none;
  border: 2px solid #E3EBF1;
  background: transparent;
}