.header {
  width: 100%;
  padding-left: 160px;
  font: {
    color: #717579;
  };

  &__left {
    &_burger {
      &_ico {
        margin: 0 10px 0 0;
        @include svg_h;
        background-image: url($path-ico + 'burger.svg');
      }
    }
  }

  &__mid {
    &_sprite {
      &-bell {
       @include svg_notifications_m;
        background-image: url($path-ico + 'bell.svg');
        color: $Light;

        &-notif-default {
         @include svg_notifications;
          background-image: url($path-ico + 'notif_default.svg');
        }
      }

      &-email {
        @include svg_h;
        background-image: url($path-ico + 'email.svg');

        &-warning {
          @include svg_h;
          background-image: url($path-ico + 'warning.svg');
        }
      }

      &-settings {
        @include svg_h;
        background-image: url($path-ico + 'settings.svg');

      }
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;

    &_container {
      display: flex;
      flex-direction: column;
    }

    &_avatar {
      @include user-avatar;
    }

    &_chevron {
      margin-left: 5px;
      @include svg_h;
      background-image: url($path-ico + 'ic_chevron.svg');
    }
  }

  &__button {
    border-radius: 50px;
    margin: 0 25px;
    background-color: $Primary_Highlight;

    &-btn {
      h6 {
        color: $Secondary_Text;
      }

      &_active {
        @include active-button;
      }
    }
  }
}

#dropdown {
  border-radius: 50px;
  outline: none;
  border: 2px solid #E3EBF1;
  background: transparent;
}