.popup {
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 40, 125, 0.42);
  top: 0;
  left: 0;


  &__body {
    border-radius: 20px;
    background-color: #FFFFFF;
    width: 70%;
    height: 90%;
  }

  &__content {
    max-width: 1200px;
    background-color: #FFFFFF;
    color: #000000;

  }

  &__description {
    &_image {
      width: 500px;
      height: 200px;

      background-repeat: no-repeat;
      background-position: center;
      background-image: url($path-img  + 'rectangle_4.png');
    }
  }

  &__activity {
    &-editor {
      background-color: #EDF1FB;
      width: 500px;

      &-sign-1 {
        @include svg_h;
        background-image: url($path-editor  + 'sign_1.svg');
      }

      &-sign-2 {
        @include svg_h;
        background-image: url($path-editor  + 'sign_2.svg');
      }

      &-sign-3 {
        @include svg_h;
        background-image: url($path-editor  + 'sign_3.svg');
      }

      &-sign-4 {
        @include svg_h;
        background-image: url($path-editor  + 'sign_4.svg');
      }

      &-sign-5 {
        @include svg_h;
        background-image: url($path-editor  + 'editor_line_black.svg');
      }

      &-sign-6 {
        @include svg_h;
        background-image: url($path-editor  + 'sign_5.svg');
      }

      &-sign-7 {
        @include svg_h;
        background-image: url($path-editor  + 'editor_line.svg');
      }

      &-sign-8 {
        @include svg_h;
        background-image: url($path-editor  + 'ol_sign.svg');
      }

      &-sign-9 {
        @include svg_h;
        background-image: url($path-editor  + 'ul_sign.svg');
      }

      &-sign-10 {
        @include svg_h;
        background-image: url($path-editor  + 'editor_line.svg');
      }

      &-sign-11 {
        @include svg_h;
        background-image: url($path-editor  + 'sign_picture.svg');

      }

      &-sign-12 {
        @include svg_h;
        background-image: url($path-editor  + 'editor_line.svg');
      }

      &-sign-13 {
        @include svg_h;
        background-image: url($path-editor  + 'sign_6.svg');
      }

      &-sign-14 {
        @include svg_h;
        background-image: url($path-editor  + 'sign_6_mod.svg');
      }

      &-sign-15 {
        @include svg_h;
        background-image: url($path-editor  + 'editor_line.svg');
      }

      &-sign-16 {
        @include svg_h;
        background-image: url($path-editor  + 'sign_right_arrow.svg');
      }

      &-sign-17 {
        @include svg_h;
        background-image: url($path-editor  + 'sign_left_arrow.svg');
      }
    }

    &_buttons {
      &-comment {
        //margin: 0 10px 0 0;
        color: $White;
        background-color: $Blue;
        height: 40px;
        width: 120px;
        border-radius: 50px;
      }

      &-cancel {
        color: $Secondary_Text;
        background-color: $White;
        height: 40px;
        width: 120px;
        border-radius: 50px;
      }
    }

    &_user {

      &-img {
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
        background-image: url($path-img  + 'placeholder.png');
      }

      &-name {
        padding: 0 20px;
      }

      &-time-ago {

      }
    }
  }

  &__teams {
    padding: 10px 0 0 30px;

    &_yellow-circle {
      margin: 0 10px 0 20px;
      width: 19px;
      height: 19px;
      background-color: $yellow;
      border-radius: 100%;
    }
    &_strong-1{
      color: $Primary_Text;
    }

    &_assignee {
      color: $Secondary_Text;
      @include popup_1;
      @include flex_1;
    }

    &_reporter {
      color: $Secondary_Text;
      @include popup_1;
      @include flex_1;
    }

    &_sprint {
      color: $Secondary_Text;
      @include popup_1;
      @include flex_1;
    }

    &_tempo {
      color: $Secondary_Text;
      @include popup_1;
      @include flex_1;
    }
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;

    &_cross {
      margin: -10px;
      top: 0;
      right: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $Blue;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      background-image: url($path-ico + 'close_window.svg');
    }

    &_href {
      cursor: pointer;
    }
  }
}

