.sidebar {
  width: $sidebar-width;
  height: 100vh;
  background-color: $Background;
  box-shadow: 5px 0 15px rgba(#050505, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-sidebar;


  &__sprite {
    @include flex_2;
    justify-content: flex-start;

    &_logo {
      cursor: pointer;
      border-radius: 50%;
      width: 56px;
      height: 56px;
      margin: 3.4rem 0 8.6rem;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url($path-ico + 'logo.svg');
    }
    &_mess{
      display: flex;
      flex-direction: column;

    }

    &_calendar {

      @include svg_s;
      background-image: url($path-ico + 'Calendar.svg');
    }

    &_home {
      @include svg_s;
      background-image: url($path-ico + 'Home.svg');
    }

    &_list {
      @include svg_s;
      background-image: url($path-ico + 'List.svg');
    }

    &_todo {
      @include svg_s;
      background-image: url($path-ico + 'todo.svg');
    }

    &_prime_settings {
      @include svg_s;
      background-image: url($path-ico + 'prime_settings.svg');
    }
    &_ic_messages {

      @include svg_s;
      background-image: url($path-ico + 'ic_messages.svg');
      &_warning_2{
        margin: -70px 0 0 5px  ;
        @include svg_h;
        background-image: url($path-ico + 'warning.svg');
      }
    }
  }
}