
.sidebar {

  width: $sidebar-width;
  height: 100vh;

  background-color: $Background;
  box-shadow: 5px 0 15px rgba(#050505, 0.1);

  position: fixed;

  left: 0;
  z-index: $z-index-sidebar;


  &__sprite {
    @include flex_2;
    justify-content: flex-start;

    &_logo {
      cursor: pointer;
      border-radius: 50%;
      width: 56px;
      height: 56px;
      margin: 3.4rem 0 8.6rem;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url($path-ico + 'logo.svg');
    }

    &_calendar {

      @include svg_s;
      background-image: url($path-ico + 'Calendar.svg');
    }

    &_home {
      @include svg_s;
      background-image: url($path-ico + 'Home.svg');
    }

    &_list {
      @include svg_s;
      background-image: url($path-ico + 'List.svg');
    }

    &_todo {
      @include svg_s;
      background-image: url($path-ico + 'todo.svg');
    }
  }
}

.header {
  @include flex_1;

  justify-content: space-between;
  font: {

    color: #717579;
  };

  &__left {
    @include flex_1;

  }

  &__mid {
    display: flex;
    flex-direction: row;

    &_notif {
      display: flex;
      flex-direction: row;
      margin-top: -7px;
    }

    &__sprite {
      display: flex;
      flex-direction: row;

      &_bell {
        margin-right: -25px;
        margin-top: 7px;
        @include svg_h;
        background-image: url($path-ico + 'bell.svg');

        &_notif_default {

          @include svg_h;
          background-image: url($path-ico + 'notif_default.svg');
        }
      }

      &_email {
        margin-right: -25px;
        margin-top: 7px;
        @include svg_h;
        background-image: url($path-ico + 'email.svg');

        &_warning {
          @include svg_h;
          background-image: url($path-ico + 'warning.svg');
        }
      }

      &_settings {
        @include svg_h;
        background-image: url($path-ico + 'settings.svg');

      }
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    &_avatar {
      width: 5.455rem;
      height: 5.455rem;
      border-radius: 100%;
      border: none ;
      background-color: $Old_Blue_2;

    }
    &_chevron{
      @include svg_h;
      background-image: url($path-ico + 'ic_chevron.svg');
    }
  }

  &__button {

    &__btn {
      h6 {
        color: $Secondary_Text;
      }
    }
  }
}

#dropdown {
  border-radius: 50px;
  outline: none;
  border: 2px solid #E3EBF1;
  background: transparent;
}