.task {
  display: flex;
  flex-direction: column;
  padding: 80px 10px 0 0;
  margin: 0 0 0 200px;
  height: 100vh;
  background-color: $Primary_Highlight;

  &_side {
    margin: 0 0 0 50px;
    z-index: 999;

    h5 {
      margin: 50px 0;
    }

    display: flex;
    flex-direction: column;
  }

  &__calendar {
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__date {
      @include main_row;

      &_arrow_left {
        margin: 0 30px 0 10px;
        width: $svg_l;
        height: $svg_l;
        background-size: $bg_size_m;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url($path-ico + 'arrow_left.svg');
      }

      &_arrow_right {
        width: $svg_l;
        height: $svg_l;
        background-size: $bg_size_m;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url($path-ico + 'arrow_right.svg');
      }
    }

    &_new_proj {

      @include main_row;

      justify-content: center;
      width: 230px;
      height: 40px;
      background-color: $Blue;
      color: $White;
      border-radius: 50px;

      &_h5_plus {

        margin: 0px 8px;
      }

      &_plus {
        width: $svg_l;
        height: $svg_l;
        margin: 0px 8px;

        background-repeat: no-repeat;
        background-position: center;
        background-image: url($path-ico + 'plus.svg');
      }

    }

    &__other {
      @include main_row;

      &__icons {
        @include main_row;

        &_logo {
          cursor: pointer;
          border-radius: 50%;
          width: 56px;
          height: 56px;
          transform: scale(0.53);
          background-repeat: no-repeat;
          background-position: center;
          background-image: url($path-ico + 'logo.svg');
        }

        &_dots {
          cursor: pointer;
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url($path-ico + 'dots.svg');
        }
      }
    }

    &__months {
      padding: 0 0 0 50px;

      &_main {
        display: flex;
        flex-direction: column;
      }

      &_scale {
        margin: 30px 0 0 0;
        padding: 0 10px 0 55px;
        @include flex_1;
        justify-content: space-between;

        &_may {

          p {

            margin: 0;
          }

          @include flex_1;
          justify-content: center;
          height: 32px;
          width: 67%;
          background-color: #e2f4fa;
        }

        &_june {

          p {

            margin: 0;
          }

          background-color: #FFFFFF;
          @include flex_1;
          justify-content: center;
          height: 32px;
          width: 33%;
        }
      }

      &_days {
        @include flex_1;
        justify-content: space-between;
      }
    }
  }

  &__events {
    padding: 20px 0 0 55px ;
    &_one {
      padding: 15px 0  50px 0;
      @include flex_1;
      &_indicator_1 {
        margin: 0 10px 0 0 ;
        @include indicator;
        background-color: $primary;
      }
      &_indicator_2{
        margin: 0 10px 0 335px ;
        @include indicator;
        background-color: $Blue;
      }
      &_indicator_3{
        margin: 0 10px 0 160px ;
        @include indicator;
        background-color: $secondary;
      }
      &_indicator_4{
        margin: 0 10px 0 0 ;
        @include indicator;
        background-color: $Tertiary;
      }
    }
  }
}