.task {
  margin: 0 0 0 200px;
  background-color: $Primary_Highlight;

  &__side-content {
    &__lines {
      &_border-2 {
        @include border_2;
      }
    }
  }

  &_side {
    width: 150px;
    z-index: 999;

  }

  &__calendar {
    &_number {
      color: white;
    }

    &_blue-line {

      width: 1.8rem;
      height: 1.8rem;
      border-radius: 100%;
      background-color: #2251F8;
    }

    &_blue-line::before {
      content: '';
      opacity: 0.5;
      height: 60%;
      top: 300px;
      //left: 572px;
      position: absolute;
      border: 1px solid #2251F8;
      border-style: dashed;
    }

    &_active-day {
      li {
        color: $Blue;
      }

      strong {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: none;
        background-color: $Blue;
        color: $White;
      }
    }

    &__date {
      @include main_row;

      &_arrow_left {
        margin: 0 30px 0 10px;
        width: $svg_l;
        height: $svg_l;
        background-size: $bg_size_m;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url($path-ico + 'arrow_left.svg');
      }

      &_arrow_right {
        width: $svg_l;
        height: $svg_l;
        background-size: $bg_size_m;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url($path-ico + 'arrow_right.svg');
      }
    }

    &__invite {
      justify-content: center;
      @include flex_1;
      border: none;
      width: 172px;
      height: 42px;
      border-radius: 50px;
      background-color: $btn_color;

      &_add_friend {
        margin: 0 7px 0 0;
        cursor: pointer;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url($path-ico + 'add_friend.svg');
      }
    }

    &_new_proj {
      @include main_row;
      justify-content: center;
      width: 210px;
      height: 48px;
      background-color: $Blue;
      color: $White;
      border-radius: 50px;

      &_h5_plus {
        margin: 0px 8px;
      }

      &_plus {
        width: $svg_l;
        height: $svg_l;
        margin: 0px 8px;

        background-repeat: no-repeat;
        background-position: center;
        background-image: url($path-ico + 'plus.svg');
      }

    }

    &__other {
      @include main_row;

      &__icons {
        @include main_row;

        &_logo {
          cursor: pointer;
          border-radius: 50%;
          width: 56px;
          height: 56px;
          transform: scale(0.53);
          background-repeat: no-repeat;
          background-position: center;
          background-image: url($path-ico + 'logo.svg');
        }

        &_dots {
          cursor: pointer;
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url($path-ico + 'dots.svg');
        }
      }
    }

    &_months {
      &-main {
        width: 100%;
      }

      &-scale {
        &-may {
          height: 32px;
          width: 67%;
          background-color: #e2f4fa;
        }

        &-june {
          background-color: #FFFFFF;
          height: 32px;
          width: 33%;
        }
      }

      &-days {
        z-index: 500;
        width: 90%;
      }
    }
  }

  &__events {
    overflow: hidden;

    &_one {

      &_image {
        p {
          font-size: 16px;
          color: $Blue;
        }
      }

      &_indicator_1 {
        @include indicator;
        background-color: $primary;
      }

      &_indicator_2 {
        @include indicator;
        background-color: $Blue;
      }

      &_indicator_3 {
        @include indicator;
        background-color: $secondary;
      }

      &_indicator_4 {

        @include indicator;
        background-color: $Tertiary;
      }
    }

    &__row {

      @include flex_1;
    }

    &__void {
      @include flex_4;
      justify-content: center;
      @include dashed;
      width: 120px;
      height: 100px;
    }
  }

  &__placeholder {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    width: 5rem;
    height: 5rem;
    background-image: url($path-img  + 'placeholder.png');
  }

  &__placeholder-1 {
    @include placeholder;
    background-image: url($path-img  + 'placeholder-1.png');
  }

  &__placeholder-2 {
    @include placeholder;
    background-image: url($path-img  + 'placeholder-2.png');
  }

  &__placeholder-3 {
    @include placeholder;
    background-image: url($path-img  + 'placeholder-3.png');
  }

  &__placeholder-more {
    cursor: pointer;

    p {
      margin: 0;
      padding: 0;
    }

    @include flex_2;
    justify-content: center;
    margin: $placeholder_mar;
    width: 5rem;
    height: 5rem;
    background-color: $Blue;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
    color: $White;
  }
}