@import "utils/reset";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

@import "modules/sidebar";
@import "modules/header";
@import "modules/button";
@import "modules/task";
@import "modules/popup";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/utilities/api";
@import "node_modules/bootstrap/scss/containers";

html {
  font-size: 62.5%;
}

h1 {

  line-height: 4.364rem;
  font: {
    family: $font_pop_b;
    size: 3rem;
    weight: 700;
  };
}
h2 {};
h3 {};
h4 {
  line-height: 2.455rem;
  font: {
    family: $font_pop_s;
    size: 1.636rem;
    weight: 600;
  };
}



h5 {
  line-height: 2.455rem;
  font: {
    family: $font_pop_r;
    weight: 500;
    size: 1.636rem;
  };
}

h6 {
  line-height: 2.182rem;
  font: {
    family: $font_pop_r;
    weight: 400;
    size: 1.455rem;
  };
}

p {
  line-height: 1.125rem;
  font: {
    family: $font_pop_r;
    weight: 400;
    size: 1.091rem;
  };
}

strong {
  line-height: 1.909rem;
  font: {
    family: $font_pop_b;
    weight: 400;
    size: 1.273rem;
  };
}

body {
  margin: 0;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;

  font: {
    family: $font_pop_r;
    size: 14px;
  }
}

/*Header
=================
 */

li {
  margin: 0 1px 0 0;
  list-style-type: none;
}