@import "utils/reset";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

@import "modules/sidebar";
@import "modules/header";
@import "modules/button";
@import "modules/task";
@import "modules/popup";

html {
  font-size: 62.5%;
}

h1 {
  line-height: 4.364rem;
  font: {
    family: $font_pop_b;
    size: 3rem;
    weight: 700;
  };
}

;
h2 {
}

;
h3 {
}

;
h4 {
  line-height: 2.455rem;
  font: {
    family: $font_pop_s;
    size: 1.636rem;
    weight: 600;
  };
}

;

h5 {
  line-height: 2.455rem;
  font: {
    family: $font_pop_r;
    weight: 500;
    size: 1.636rem;
  };
}

h6 {
  line-height: 2.182rem;
  font: {
    family: $font_pop_r;
    weight: 400;
    size: 1.455rem;
  };
}

p {
  line-height: 1.125rem;
  font: {
    family: $font_pop_r;
    weight: 400;
    size: 1.091rem;
  };
}

strong {
  line-height: 1.909rem;
  font: {
    family: $font_pop_b;
    weight: 400;
    size: 1.273rem;
  };
}

body {
  margin: 0;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;

  font: {
    family: $font_pop_r;
    size: 14px;
  }
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Header
=================
 */
.header {
  height: 120px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;

}

li {
  margin: 0 1px 0 0;
  list-style-type: none;
}

.li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active_day {
  li {
    color: $Blue;
  }

  strong {

    padding: 2px 6px;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: none;
    background-color: $Blue;
    color: $White;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
}

//.border_1{
//  margin: 0 20px 0 80px;
//  height: 1px;
//  background-image: linear-gradient(90deg, $Tertiary_Text 75%, transparent 75%, transparent 100%);
//  background-size: 20px 1px;
//  border: none;
//}

.side_content {
  display: flex;
  flex-direction: row;
}

.placeholder {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  width: 5rem;
  height: 5rem;
  background-image: url($path-img  + 'placeholder.png');
}

.placeholder-1 {
  @include placeholder;
  background-image: url($path-img  + 'placeholder-1.png');
}

.placeholder-2 {
  @include placeholder;
  background-image: url($path-img  + 'placeholder-2.png');
}

.placeholder-3 {
  @include placeholder;
  background-image: url($path-img  + 'placeholder-3.png');
}

.placeholder-more {
  cursor: pointer;

  p {
    margin: 0;
    padding: 0;
  }

  @include flex_2;
  justify-content: center;
  margin: $placeholder_mar;
  width: 5rem;
  height: 5rem;
  background-color: $Tertiary;
  border-radius: 100%;
  border: 2px solid #FFFFFF;
  color: $White;
}

.blue_line {

}

.blue_line::before {
  content: '';
  opacity: 0.5;
  height: 60%;
  top: 320px;
  left: 600px;
  position: fixed;
  border: 1px solid #2251F8;
  border-style: dashed;

}