@import "utils/reset";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

@import "modules/sidebar";
@import "modules/header";
@import "modules/button";
@import "modules/task";

html {
  font-size: 62.5%;
}
h1{
  line-height: 4.364rem;
  font: {
    family: $font_pop_b;
    size: 3rem;
    weight: 700;
  };
};
h2{};
h3{};
h4{
  line-height: 2.455rem;
  font: {
    family: $font_pop_s;
    size: 1.636rem;
    weight: 600;
  };
};

h5 {
  line-height: 2.455rem;
  font: {
    family: $font_pop_r;
    weight: 500;
    size: 1.636rem;
  };
}
h6 {
  line-height: 2.182rem;
  font: {
    family: $font_pop_r;
    weight: 400;
    size: 1.455rem;
  };
}
p{
  line-height: 1.125rem;
  font: {
    family: $font_pop_r;
    weight: 400;
    size: 1.091rem;
  };
}

body {
  margin: 0;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;

  font: {
    family: $font_pop_r;
    size: 14px;
  }
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Header
=================
 */
.header {
  height: 120px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;

}