
@font-face {
  font-family: 'Open Sans_Bold';
  src: url($path-font_OS  + "OpenSans-Bold.ttf");
}
@font-face {
  font-family: 'Open Sans_Regular';
  src: url($path-font_OS  + "OpenSans-Regular.ttf");
}
@font-face {
  font-family: 'Cardo';
  src: url($path-font_CR + "Cardo-Italic.ttf");
}
@font-face {
  font-family: 'Raleway_Bold';
  src: url($path-font_RL + "Raleway-Bold.ttf");
}
@font-face {
  font-family: 'Raleway_Light';
  src: url($path-font_RL + "Raleway-Light.ttf");
}
@font-face {
  font-family: 'Raleway_Regular';
  src: url($path-font_RL + "Raleway-Regular.ttf");
}