@font-face {
  font-family: 'Poppins-Bold';
  src: url($path-font  + "Poppins-Bold.ttf");
}
@font-face {
  font-family: 'Poppins-Light';
  src: url($path-font  + "Poppins-Light.ttf");
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url($path-font  + "Poppins-Medium.ttf");
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url($path-font  + "Poppins-Regular.ttf");
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url($path-font  + "Poppins-SemiBold.ttf");
}