/*Intro
=================
 */
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  height: 750px;
  background: #31344e
  url($path-img + 'Layer_34.png');
  object-fit: cover;
}
.intro__inner{
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}

.intro__title{
  font: {
    family: 'Open Sans_Bold', sans-serif;
    size: 65px;
    weight: 700;
  }
  color: #fff;
  margin: 0 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

.intro__subtitle{
color: #fff;
  line-height: 1.5;
  margin-bottom: 60px;
  font:{
    size: 22px;
    weight: 400;
  }
}