@mixin Shadow1_Sidebar{
  background: #C4C4C4;
  box-shadow: 7px 0px 80px rgba(0, 0, 0, 0.05);
}

@mixin Shadow2_Card{
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
@mixin active-button{
  color: $White;
  border-radius: 16px;
  background-color: $secondary_active;
  padding: 10px 20px;
  margin: 0 10px;
}
@mixin user-avatar{
  margin-right: 18px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  background-color: $Old_Blue_2;
}
@mixin main_row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin main_column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin svg_s{
  width: $svg_s;
  height: $svg_s;
  margin: $svg_m;
  background-repeat: no-repeat;
  background-position: center;
}
@mixin svg_h{
  width: $svg_s;
  height: $svg_s;
  background-size: $bg_size;
  background-repeat: no-repeat;
  background-position: center;
}
@mixin svg_notifications{
  width: $svg_h;
  height: $svg_h;
  background-size: $bg_size_notif;
  background-repeat: no-repeat;
  background-position: center;
}
@mixin svg_notifications_m{
  width: $svg_s_notif;
  height: $svg_s_notif;
  background-size: $bg_size_notif;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin flex_1{
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex_2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex_3{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex_4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin indicator{
  height: 59px;
  width: 9px;
  border-radius: 14px;
}
@mixin border_2{
  width: 100%;
  height: 100%;
  height: 1px;
  background-image: linear-gradient(90deg, $Primary_Text 75%, transparent 75%, transparent 100%);
  background-size: 20px 1px;
  border: none;
}

@mixin placeholder{
  cursor: pointer;
  margin: $placeholder_mar;
  background-repeat: no-repeat;
  background-position: center;
  width: 5rem; height: 5rem;
}
@mixin dashed{
  border: 1px dashed $Tertiary_Text;

}

@mixin popup_1{
  width: 300px;
  margin: 20px 0;
  padding: 10px 0;
  border-bottom: 1px solid $Tertiary_Text;
}


@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

