/*Nav
=================
 */
.nav{
  display: flex;
  font:{
    weight: 400;
    size: 13px;
  }

  text-transform: uppercase;
}
.nav__link{
  margin-left: 50px;
  color: #fff;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.1s linear;

  &:first-child{
    margin-left: 0;
  }
  &:hover{
    opacity: 1;
    text-decoration: none;
  }
}
