/*Works
=================
 */
.team{
  margin: 100px 0 70px;
}
.team__inner{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.team__item{
  padding: 0 15px;
  width: 25%;
  margin-bottom: 30px;
}
.team__photo{
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.team__name{
  margin-bottom: 8px;
  font-size: 22px;
  color: #2d3033;
}
.team__prof{
  margin-bottom: 15px;
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
}
.team__text{
  font-size: 14px;
  line-height: 1.5;
  color: #6c7279;
  margin-bottom: 20px;
}













