
//Path img
$path-img                 : '../../assets/img/';
$path-ico                 : '../../assets/icons/svg/';

//Path fonts
$path-font                : '../../assets/fonts/';

// Fonts
$font_pop_b:'Poppins-Bold';
$font_pop_l:'Poppins-Light';
$font_pop_m:'Poppins-Medium';
$font_pop_r:'Poppins-Regular';
$font_pop_s:'Poppins-SemiBold';

//colors

$primary: #886CC0;
$secondary: #FFCF6D;
$secondary_active: #0099FF;
$Tertiary: #FFA7D7;
$Blue:  #2251F8;

$Primary_Text:  #171B1E;
$Secondary_Text: #717579;
$Tertiary_Text: #D7D7D7;

$Light: #EEEEEE;
$Background: #FBFBFB;
$White: #FFFFFF;
$Primary_Highlight: #F1EAFF;
$Old_Blue_2: #6F96AA;

$Green: #09BD3C;
$Red: #FC2E53;

$btn_color: #e2f4fa;

$z-index-sidebar: 1000;
$sidebar-width: 160px;


//mixins

$svg_s: 32px;
$svg_h: 30px;
$svg_l: 16px;
$svg_m: 2.6rem 0;

$bg_size: 55%;
$bg_size_m: 55%;
$placeholder_mar: 0 0 0 -15px;