
//Path img
$path-img                 : '../../assets/img/';
$path-ico                 : '../../assets/icons/';




//Path fonts
$path-font_OS             : '../../assets/fonts/Open_Sans/';
$path-font_CR             : '../../assets/fonts/Cardo/';
$path-font_RL             : '../../assets/fonts/Raleway/static/';

// OpenSans
$op_R                     : 'Open Sans_Regular';
$op_B                     : 'Open Sans_Bold';

$op_R_13                  : 13px;
$op_B_65                  : 65px;

// Cardo
$crd                       : 'Cardo';

$crd_14                    : 14px;


// Raleway
$ral_L                     : 'Raleway_Light';
$ral_R                     : 'Raleway_Regular', san-serif;
$ral_B                     : 'Raleway_Bold';

$ral_L_28                  : 28px;
$ral_R_14                  : 14px;
$ral_B_22                  : 14px;





